
<ion-menu [content]="content" side="left" id="menu1" >
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="card-background-page">

      <ion-card style="padding-top: 20px;display: inline">
        <div style="text-align:center">
            <img style="max-width: 60%; padding-top: 20px; display: inline" src="https://avatars3.githubusercontent.com/u/3466845?s=460&v=4" alt="">
        </div>
          <!-- <div class="card-title">{{accountDetail?.account?.attributes?.givenName}} {{accountDetail?.account?.attributes?.lastName}}</div>÷ -->
          <div class="card-title">{{name}}</div>
          <div class="card-subtitle">{{title}} </div>
          <div class="card-subtitle">{{department}}</div>
          <p>&nbsp;</p>
          <hr/>
        </ion-card>

        
        
 


    <ion-list *ngIf='loggedIn'>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon item-left name="{{p.icon}}"></ion-icon> &nbsp; {{p.title}}
        </button>
      </ion-list>
  
        <ion-list>
        <!-- <ion-item-divider color="light">Settings</ion-item-divider>
        <button ion-item (click)="openPage(ListPageComponent)">
          <ion-icon item-left name="log-out"></ion-icon>
          Logout
        </button> -->
  
      </ion-list>

      
  </ion-content>

</ion-menu>

<!-- 
<ion-menu [content]="content" id="menu2" side="right" type="overlay">
  
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Menu 22</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button ion-item menuClose="menu2" detail-none>
          Close Menu 2
        </button>
      </ion-list>
    </ion-content>
  
  </ion-menu> -->

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>