
<ion-header>
    <ion-navbar color="primary">
        <ion-title>ARB Assessment</ion-title>
    
    </ion-navbar>
</ion-header>


<ion-content padding id="listScroll" style="font-family:Avenir Next , sans-serif;" [ngClass]="(!showFilingSpinner)?'mycolor':''">

    <p></p>
    <div *ngIf="showSpinner" style="text-align:center;margin-top:150px;">
            <img  src="assets/imgs/calculating.gif"/>
            <h4>Calculating score...</h4>
          </div>
 
    <div id="quiz" *ngIf="data != undefined && data.quiz != undefined && mode === 'quiz' && !showSpinner">
        <div class="center">
            <h3>{{projectTitle}}</h3>
            <p> {{data.quiz.name|| "Assessment"}}</p>
            <img height="80" width="80" src="{{data.quiz.logo}}" />
        </div>

        <ion-card>

            <ion-item>

                <p style="text-align:center">Question {{questionNumber}} of {{questions.length}}.</p>
            </ion-item>
            <!-- <ion-card-header>
            </ion-card-header> -->

            <ion-card-content>
                <ion-item *ngIf="!question.Pic">
                    <h3 style="margin-top:-0rem;white-space:normal;">{{question.Description}}&nbsp;
                        <ion-icon item-center (click)="openHelp(question.Id)" name="help-circle"></ion-icon>
                    </h3>
                </ion-item>
                
                <ion-grid *ngIf="question.Pic"  >
                        <ion-row>
                            <ion-col> 
                                <h3 style="margin-top:-0rem;white-space:normal;">{{question.Description}}&nbsp;
                                    <ion-icon item-center (click)="openHelp(question.Id)" name="help-circle"></ion-icon>
                                </h3>
                                <ion-item class="item item-text-wrap item-divider " style="font-weight:bold">{{question.Name}}</ion-item>
                                <ion-list radio-group [(ngModel)]="question.answer">
                
                                    <ion-item *ngFor="let option of question.Options">
                                        <ion-radio item-left value="{{option.Name}}"></ion-radio>
                                        <ion-label>{{option.Name}}</ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                            <ion-col> <img *ngIf="question.Pic" src="{{question.Pic}}" style="width:50%" /></ion-col>
                        </ion-row>
                </ion-grid>
                <ion-item *ngIf="!question.Pic" class="item item-text-wrap item-divider " style="font-weight:bold">{{question.Name}}</ion-item>
                <ion-list *ngIf="!question.Pic" radio-group [(ngModel)]="question.answer">

                    <ion-item *ngFor="let option of question.Options">
                        <ion-radio item-left value="{{option.Name}}"></ion-radio>
                        <ion-label>{{option.Name}}</ion-label>
                    </ion-item>
                </ion-list>

            </ion-card-content>


            <br />

        </ion-card>

        <div style="text-align:center">

            <button *ngIf="questionNumber!=1" (click)="left()" ion-button icon-left>
                <ion-icon name="arrow-back"></ion-icon>
                Prev
            </button>

            <button [hidden]="questionNumber == questions.length" (click)="right()" ion-button icon-left>
                Next &nbsp;
                <ion-icon name="arrow-forward"></ion-icon>
            </button>

        </div>
        <div style="text-align:center">
            <button (click)="presentAbortConfirm()" color="danger" ion-button icon-left>
                <ion-icon name="close"></ion-icon>
                Abort
            </button>

            <button (click)="setMode('review')" ion-button icon-left>
                <ion-icon name="list"></ion-icon>
                Review
            </button>


            <button (click)="presentSubmitConfirm()" ion-button icon-left>
                
                <ion-icon name="speedometer"></ion-icon>
                Score it! &nbsp;
            </button>

        </div>
    </div>


    <p></p>


    <div *ngIf="mode=='review' && !showSpinner" class="review">
        <p></p>
        <div *ngFor="let question of questions; let i = index;">
            <div (click)="goTo(i + 1)" class="{{ isAnswered(question) == 'Answered'? 'answered': 'not-answered' }}"> <strong>{{i + 1}}. {{question.tag}}</strong> <p>{{ isAnswered(question) }}</p></div>
        </div>
        <p></p>
        <button ion-button (click)="setMode('quiz')"> Back </button>
    </div>




    <div style="text-align:center" *ngIf="showFilingSpinner">
            <img src="http://newtowninvestments.com/included/image/Sending.gif"/>
            
            <h4>Filing Your Application...</h4>
        </div>
    <div class="center result" *ngIf="mode=='result' && !showSpinner && !showFilingSpinner">
            <p></p>
           
            <ion-card>
                <ion-item>
                    <ion-avatar item-left>
                        <img src="https://vignette.wikia.nocookie.net/mysims/images/2/22/EA_logo.png/revision/latest?cb=20090801182220">
                    </ion-avatar>
                    <h2>{{projectTitle}}</h2>
                    <h3>Score Card</h3>
                    <p>{{verdict}}</p>
                </ion-item>
                <hr/>
    
                <ion-grid>
                    <ion-row>
                        <ion-col  >
                            <div style="text-align:center;width:60%">
                                <img src="assets/imgs/rpm-dial.png"/>
                                
                                <!-- <img src="assets/data/dial1.png"/> -->
                            </div>
                        </ion-col>
                        <ion-col>
                                <div class="item item-body">
                    
                                    <div class="row">
                                        <div class="col col-80">Total 1Questions</div>
                                        <div class="col col-20">{{questions.length}}</div>
                                    </div>
                    
                                    <div class="row">
                                        <div class="col col-80">Total attempted</div>
                                        <div class="col col-20">{{attempted}}</div>
                                    </div>
                    
                                    <div class="row">
                                        <div class="col col-80">Your score</div>
                                        <div class="col col-20"><strong>{{score}} %</strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-80"><strong>Result</strong></div>
                                        <div class="col col-20"><strong>{{verdict}}</strong></div>
                                    </div>
                                    <hr/>
                                    <p><strong>Explanation: </strong>{{explanation}}</p>
                                    <p><strong>Recommendations: </strong> {{recommendations}}
                                        </p>
                                        <p>&nbsp;</p>
                                    <!-- <img class="full-image" height="150" width="100" ng-src="data/img/table.jpg"> -->
                                    <p class="center">
                                        <button ion-button (click)="submit(true)"  color="secondary">File Application</button>
                                        <button ion-button (click)="submit()" outline >Save for Later</button>
                                    </p>
                    
                                </div></ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
            <p></p>
    
    
    
            <p class="center">
                Your responses are below.
            </p>
      
            <div style="text-align:right">
                    <button ion-button (click)="edit()">{{buttonText}}</button>
                </div>
        
            <div *ngFor="let question of questions; let i = index">
                    <div class="result-question">
                        <h3>{{i + 1}}. {{question.Name}}</h3>
                        <!-- <div class="result-options">
                            <div *ngFor="let Option of question.Options">
                                <label *ngIf="disabled" class="{{  question.answer == Option.Name ? 'result-correct': 'result-incorrect' }}"> 
                                    <input id="{{Option.Id}}" type="checkbox" disabled [checked]="question.answer == Option.Name" /> {{Option.Name}}
                                </label>
                                <input *ngIf="!disabled" id="{{Option.Id}}" type="checkbox"   [checked]="question.answer == Option.Name" /> {{Option.Name}}
                            </div>
                        </div> -->

                        <ion-list radio-group [(ngModel)]="question.answer" *ngIf="disabled">
                            <ion-item *ngFor="let option of question.Options">
                                <ion-radio  item-left value="{{option.Name}}" disabled></ion-radio>
                                <ion-label>{{option.Name}}</ion-label>
                            </ion-item>
                        </ion-list>

                        <ion-list radio-group [(ngModel)]="question.answer" *ngIf="!disabled">
                                <ion-item *ngFor="let option of question.Options">
                                    <ion-radio  item-left value="{{option.Name}}"></ion-radio>
                                    <ion-label>{{option.Name}}</ion-label>
                                </ion-item>
                            </ion-list>

                        <p></p>
                    </div>
            </div>






            <div style="text-align:right">
                <button ion-button (click)="edit()" >{{buttonText}}</button>
            </div>
    
    
        </div>
    


    <ion-menu [content]="mycontent" id="menu2" side="right" width="500">

        <ion-header>
            <ion-toolbar color="grey">
                <ion-title>Help</ion-title>
                <ion-buttons large end>
                    <button ion-button outline clear menuClose="menu2">
                        <ion-icon style="font-size:3rem;font-weight:bold;" name="close"></ion-icon>
                    </button>
                </ion-buttons>


            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list>
                <div [innerHTML]="somedata"></div>
                <p>&nbsp;</p>
                <div *ngIf="!thanked">
                    Was this helpful?
                    <button ion-button color="light" outline (click)="thankyou()">No</button>
                    <button ion-button color="light" outline (click)="thankyou()">Yes</button>
                </div>
                <div *ngIf="thanked">
                        <ion-icon name="thumbs-up"></ion-icon>&nbsp;&nbsp;Thank you for your feedback!
                        
                    </div>
            </ion-list>



        </ion-content>

    </ion-menu>


</ion-content>

<ion-nav [root]="ListPage" #mycontent swipeBackEnabled="false"></ion-nav>