<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{project.title}}</ion-title>
    <ion-buttons large end>
      <button ion-button outline clear (click)="dismiss()">
        <ion-icon style="font-size:3rem;font-weight:bold;" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="center result">
    <p></p>
    <ion-card>
      <ion-item>
        <ion-avatar item-left>
          <img src="https://vignette.wikia.nocookie.net/mysims/images/2/22/EA_logo.png/revision/latest?cb=20090801182220">
        </ion-avatar>
        <h2>Assessment Details</h2>
        <p>{{project.verdict}}</p>
      </ion-item>

      <ion-fab right top (click)="edit()">
          <button ion-fab  color="secondary">
              <ion-icon name="create"></ion-icon>
          </button>
         
        </ion-fab>
      <hr/>

      <ion-grid *ngIf="!isPlatformMobile">
        <ion-row>
          <ion-col>
            <div style="text-align:center;width:60%">
              <img src="https://communications.fidelity.com/pi/calculators/saving-for-retirement/assets/images/rpm-dial.png" />

              <!-- <img src="assets/data/dial1.png"/> -->
            </div>
          </ion-col>
          <ion-col>
            <div class="item item-body" style="text-align:left">

              <div class="row">
                <div class="col col-80">Assessor</div>
                <div class="col col-20">{{project.assessor}}</div>
              </div>

              <div class="row">
                <div class="col col-80">Last Assessed</div>
                <div class="col col-20">{{project.lastUpdated}}</div>
              </div>

              <div class="row">
                <div class="col col-80">Assessment score</div>
                <div class="col col-20">
                  <strong>{{project.score}} %</strong>
                </div>
              </div>
              <div class="row">
                <div class="col col-80">Result</div>
                <div class="col col-20">
                  <strong>{{project.verdict}}</strong>
                </div>
              </div>


            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <hr/>
          <p style="text-align:left">
            <strong>Explanation: </strong>{{project.explanation}}</p>
          <p>&nbsp;</p>
          <p style="text-align:left">
            <strong>Recommendations: </strong>{{project.recommendations}}
          </p>
        </ion-row>
      </ion-grid>


     <!-- //////////////// [Layout for Mobile Platforms] ////////////////// -->

      <ion-grid *ngIf="isPlatformMobile">
          <ion-row>
            <ion-col>
              <div style="text-align:center;width:100%">
                <img src="https://communications.fidelity.com/pi/calculators/saving-for-retirement/assets/images/rpm-dial.png" />
  
                <!-- <img src="assets/data/dial1.png"/> -->
              </div>
            </ion-col>
            </ion-row>
            <ion-row>
            <ion-col>
              <div class="item item-body" style="text-align:left">
  
                <div class="row">
                  <div class="col col-80">Assessor</div>
                  <div class="col col-20">{{project.assessor}}</div>
                </div>
  
                <div class="row">
                  <div class="col col-80">Last Assessed</div>
                  <div class="col col-20">{{project.lastUpdated}}</div>
                </div>
  
                <div class="row">
                  <div class="col col-80">Assessment score</div>
                  <div class="col col-20">
                    <strong>{{project.score}} %</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-80">Result</div>
                  <div class="col col-20">
                    <strong>{{project.verdict}}</strong>
                  </div>
                </div>
  
  
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <hr/>
            <p style="text-align:left">
              <strong>Explanation: </strong>{{project.explanation}}</p>
            <p>&nbsp;</p>
            <p style="text-align:left">
              <strong>Recommendations: </strong>{{project.recommendations}}
            </p>
          </ion-row>
        </ion-grid>
    <!-- //////////////// [Layout for Mobile Platforms] ////////////////// -->








    </ion-card>
    <p></p>


    <ion-card *ngIf="project.questions">
        <!-- <p>&nbsp;</p> -->
       
      <p class="center" style="font-size:1.9rem">
        <u>The Assessment Responses</u>
      </p>
      <hr/>

      <p style="text-align:left" *ngIf="project.description">
          <strong>About the Project: </strong><span style="text-align:left">{{project.description}}</span></p>
          <p>&nbsp;</p>
   
      <div *ngFor="let question of project.questions; let i = index">
        <div style="text-align:left">
          <strong>{{i + 1}}. {{question.Name}}</strong>
          <ul *ngIf="question.answer">
            <li>{{question.answer}}</li>
          </ul>
          <ul *ngIf="!question.answer">
            <li>No response</li>
          </ul>
          <!-- <div class="result-options">
          <div *ngFor="let Option of question.Options">
            <label class="{{  question.answer == Option.Name ? 'result-correct': 'result-incorrect' }}">
              <input id="{{Option.Id}}" type="checkbox" disabled="disabled" readonly="readonly" [checked]="question.answer == Option.Name"/> {{Option.Name}}
            </label>
          </div>
        </div> -->
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="center">
          <button ion-button (click)="edit()">Edit</button>
        <button ion-button (click)="dismiss()">Close</button>
      </div>
    </ion-card>

  </div>

</ion-content>